.container{
  position: absolute;
  height: 100%;
  overflow-y: hidden;

}

.cards{
  position: absolute;
  row-gap: 30px;
  column-gap: 50px; 
  left: 15%;
  display: grid;
  top: 15%;
}

.form{
  position: absolute;
  top: 22%;
  left: 60%;
  width: 400px;
  height: 300px;
  display: flex;
}


.frontcard{
  background: url("./images/bg-card-front.png") no-repeat;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  /* width: 200px; */
  height: 200px; 
  padding: 5%;
  /* margin-top: -20%; */
}

.backcard{
  background: url("./images/bg-card-back.png") no-repeat;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  /* width: 200px; */
  height: 200px; 
  padding: 5%;
  margin-left: 100px;
}

@media(min-width:1024px){
  .frontcard, .backcard{
    width: 330px;
    height: 180px;
    border-radius: 12px;
    position: relative;
    
  }
}

@media screen and (max-width:600px){
  .frontcard{
    max-width: 100%;
    max-height: 50%;
    border-radius: 12px;
    position: relative;
    left: -15%;
    top: 15%;
    z-index: 10;
  }
  .backcard{
    width: 85%;
    height: 60%;
    border-radius: 12px;
    position: absolute;
    top: -30%;
    left: -35%;
  }

  .cards{
    position: absolute;
    width: 80%;
    height: 30%;
    left: 15%;
    display: grid;
    top: 15%;
  }

  .cardlogo{
    position: relative;
    height: 25%;
  }

  .cardnumber{
    top: -10%;
    display: inline;
    color: white;
    width: 100%;
    word-spacing: 8px;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: medium;
    position: relative;
  }
  
  .flex{
    color: white;
    display:flex;
    margin-top: -5%;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 90%;
    font-weight: 100;
    font-size:smaller;
    position: relative;
  }

  .noflex{
    display:inline;
    margin-top: -5%;
    width: 40%;
    font-weight: 100;
    font-size:smaller;
    position: relative;
  }

  .backcredentials{
    color: white;
    display: inline;
    top: -6%;
    justify-content: space-between;
    flex-direction: column;
    font-size:small;
    position: relative;
  }

  .form{
    position: absolute;
    top: 50%;
    left: 8%;
    width: 60%;
    height: 300px;
    display:inline-block;
  }

  .btn{
    position: relative;
    width: 60%;
    display:inline;
  }

  .thankyouform{
    position: relative;
    top: 20%;
    display:inline-block;
  }
}

.cardnumber{
  margin-top: 15%;
  display: flex;
  color: white;
  word-spacing: 8px;
  letter-spacing: 3px;
  font-weight: 400;
  position: relative;
}

.credentials{
  color: white;
  display: flex;
  margin-top: 10%;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size:small;
}

.backcredentials{
  color: white;
  display: flex;
  margin-top: 23%;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 86%;
}

.expiry{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.btn{
  position: relative;
  top: 80%;
  width: 100%;
  height: 50px;
  background-color: hsl(278, 68%, 11%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.thankyouform{
  position: relative;
  top: 10%;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tickblock{
  margin-block: center;
  margin-bottom: 5%;
}

.thank{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15%;
}

.btn2{
  position: relative;
  top: 12%;
  width: 100%;
  height: 50px;
  background-color: hsl(278, 68%, 11%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

form label{
  display: block;
  margin-bottom: 3%;
  text-transform: uppercase;
  text-size-adjust: small;
  word-spacing: 5px;
}

form input{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5%;
}